@import _constants.sass
@import blueprint.sass
@import blueprint/modules/scaffolding.sass
@import compass/utilities.sass
@import _mixins.sass
@import _colors.sass

body, html
  :color = !text_color
  :font
    :family = !default_font_family
    :size 95%

h1, h2, h3, h4
  :padding
    :top .5em
    :bottom 1em
  :text-transform lowercase

h1
  :font-size 200%
h2
  :font-size 150%
h3
  :font-size 130%
h4
  :font-size 115%

li
  +no-bullet

a
  +link-colors(!lime, !orange, !text_color_strong, !orange_dark, !text_color_strong)
  :text-decoration none

p
  :padding-bottom 1em
  :line-height 1.4

.container
  +container

.hmenu
  :display block 
  .item
    :float left
    :padding .5em 0
    a
      :padding .5em 2ex

span
  :display inline

.e
  :color = !lime

#header
  +margin-top(1)
  +padding-bottom(1)
  :font-size 160%
  :border-bottom = !border_width "solid" !border_color
  .title
    +column(19)
    :padding-top 1em
    +last
    h2
      :font-size 100%
  a.logo
    +rounded
    +solid-border
    :float left
    :margin-right = !blueprint_grid_margin
    :padding .1em .1em .25em .1em
    :line-height .4
    &:hover
      .z
        :color = !text_color_inverted
      .e
        :color = !lime

.logo
  :font-size 505%

#navigation
  +margin-bottom(1)
  :font
    :size 115%
    :weight bold
  :padding 5px 0 
  h3
    :font-size 100%
  .hmenu
    :padding-top 4px
    .item 
      :margin 1ex .5em 1ex 0
      a
        :border = !border_width "solid" !border_color
        +rounded
        &:hover
          :border = !border_width "solid" !orange
        &:active
          :border = !border_width "solid" !lime
    .last
      :float right
      :margin-right 0

body.redirect #content
  +solid-border
  +frame-layout(18, !blueprint_grid_margin)
  +rounded

#sidebar
  +solid-border
  +frame-layout(6, !blueprint_grid_margin)
  +rounded
  +last
  :float right

#footer
  :margin
    :top = !blueprint_grid_width
  :border
    :top
      :style solid
      :color = !border_color
      :width = !border_width

body
  &.articles, &.tags, &.categories 
    .atomentry
      +margin-bottom(1) 
      +solid-border
      +frame-layout(18, !blueprint_grid_margin)
      +rounded

ul.meta

cite
  :font-style italic

abbr span.date
  :border-bottom = !border_width "groove" !text_color

.img
  +column(5, true)
  +row(11)
  +solid-border
  :text-align right
  :font-size 130%

.last
  +last
