html {
  color: #aaaaaa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 130%; }

h4 {
  font-size: 115%; }

li {
  list-style-type: none;
  margin-left: 0px; }

a {
  color: #aaaaaa;
  text-decoration: none; }
  a:visited {
    color: #aaaaaa; }
  a:focus {
    color: #ffa500; }
  a:hover {
    color: gray; }
  a:active {
    color: #ffa500; }

p {
  padding-bottom: 1em; }

.container {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  .container {
    display: block; }

.hmenu {
  display: block; }
  .hmenu .item {
    float: left;
    padding: .5em 0; }
    .hmenu .item a {
      padding: .5em 2ex; }

span {
  display: inline; }

.e {
  color: gray; }

#header {
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 180%;
  border-bottom: 1px solid #dddddd; }
  #header .title {
    display: inline;
    float: left;
    margin-right: 20px;
    width: 660px; }
    * html #header .title {
      overflow-x: hidden; }
    #header .title h2 {
      font-size: 110%; }
  #header a.logo {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    float: left;
    margin-right: 20px;
    padding: .1em .1em .25em .1em;
    line-height: .4; }
    #header a.logo:hover .z {
      color: white; }

.logo {
  font-size: 505%; }

#navigation {
  margin-bottom: 20px;
  font-size: 115%;
  font-weight: bold;
  padding: 5px 0; }
  #navigation h3 {
    font-size: 100%; }
  #navigation .hmenu {
    padding-top: 4px; }
    #navigation .hmenu .item {
      margin: 1ex .5em 1ex 0; }
      #navigation .hmenu .item a {
        border: 1px solid #dddddd;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px; }
        #navigation .hmenu .item a:hover {
          border: 1px solid #ffa500; }
        #navigation .hmenu .item a:active {
          border: 1px solid gray; }
    #navigation .hmenu .last {
      float: right;
      margin-right: 0; }

#content {
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 658px;
  padding: 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  * html #content {
    overflow-x: hidden; }

#sidebar {
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 178px;
  padding: 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-right: 0; }
  * html #sidebar {
    overflow-x: hidden; }

#footer {
  margin-top: 20px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-top-width: 1px; }

.img {
  display: inline;
  float: left;
  margin-right: 0;
  width: 180px;
  height: 220px;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  text-align: right;
  font-size: 130%; }
  * html .img {
    overflow-x: hidden; }

.last {
  margin-right: 0; }
